/*---------------strona glowna------------------*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/banner16.png);
    background-position: center;
    background-position: cover;
    position:relative;
}
nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items:center;
}
nav img {
    width:150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position:relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #a4040c;
    display:block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box {
    width:90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    font-family: 'Lobster', sans-serif;
}
.text-box p{
   margin: 10 px 0 40px;
   font-size: 14px;
   color: #fff ;
}
.hero-btn {
    display:inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position:relative;
    cursor: pointer;
}
.hero-btn:hover{
    border:1px solid #a4040c;
    background:#a4040c;
    transition: 1s;
}
nav .fa{
    display:none;
}

.course{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
 h1 {
    font-size: 36 px;
    font-weight: 600;
 }
 .course-column h3{
    color: #fff;
 }
 .course-column p{
    color: #fff;
 }
 p{
    color: #aaa3a3;
    font-size: 14px;
    font-weight: 300;
    line-height: 22 px;
    padding: 10px;
 }
 .row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;

 }
 .course-column{
    flex-basis: 31%;
    background: #a4040c;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
 }
 h3{
text-align: center;
font-weight: 600;
margin: 10px 0;
 }
 .course-column:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
 }
 
 .campus{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 50px;
 }
 .campas-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
 }
 .campas-col img{
    width: 100%;
    display:block;
 }
 .layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    transition: 0.5s;
 }
 .layer:hover{
    background: rgb(164, 4, 12, 0.5);
 }
 .layer h3{
    width:100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
 }
 .layer:hover h3{
bottom: 49%;
opacity: 1;
 }
 .facilities {
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
 }
 .facilities-col{
    flex-basis:31%;
    border-radius:10px;
    margin-bottom: 5%;
    text-align: left;
 }
 .facilities-col img{
    width:100%;
    border-radius: 10px;
 }
 .facilities-col p {
    padding: 0;
 }
 .facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
 }
 .testimonials{
    width:80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
 }
 .testimonial-col{
    flex-basis:44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor:pointer;
    display: flex;
 }
 .testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
 }
 .testimonial-col p{
    padding: 0;
 }
 .testimonial-col h3{
    margin-top:15px;
    text-align: left;
 }
 .testimonial-col .fa{
    color: #a4040c;
 }

 .cta{
   margin: 100px auto;
   width: 80%;
   background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner16.png);
   background-position: center;
   background-size: cover;
   border-radius: 10px;
   text-align: center;
   padding: 100px 0;
 }
 .cta h1{
   color: #fff;
   margin-bottom: 40px;
   padding:0;
 }

 .footer{
   width: 100%;
   text-align: center;
   padding: 30 px 0;
 }
 .footer h4{
   margin-bottom: 25px;
   margin-top: 20px;
   font-weight: 600;
   
 }
 .icons .fa {
color:#a4040c;
margin: 0 13px;
cursor: pointer;
padding: 18px 0;
 }
 .fa-heart-o{
   color:#a4040c;
 }
 /*---------------biografia------------------*/
 .sub-header{
height: 50vh;
width: 100%;
background-image: url(images/banner16.png);
background-position: center;
background-size: cover;
text-align: center;
color: #fff;
 }
 .sub-header h1{
   margin-top: 100px;
 }
 .about-us {
   width: 80%;
   margin: auto;
   padding-top: 80px;
   padding-bottom: 50px;
 }
 .about-col {
   flex-basis: 48%;
   padding: 30px 2px;
 }
 .about-col img{
   width:100%;
 }
 .about-col h1{
   padding-top: 0;

 }
 .about-col p{
padding: 15px 0 25px ;
 }
 .red-btn{
   border: 1px solid #a4040c;
   background: transparent;
   color: #a4040c;
 }
 .red-btn:hover{
   color: #fff;
 }
 /*---------------Galeria------------------*/
 .blog-content{
width: 80%;
margin: auto;
padding: 60 px 0;
 }
 .blog-left{
flex-basis: 65%;
 }
 .blog-left img{
   width:100%;
 }
 .blog-left h2{
   color: #a4040c;
   font-weight: 600;
   margin: 30px 0;

 }
 .blog-left p{
   color: #aaa3a3;
   padding: 0;
   margin: 10px 0;
   text-align: justify;
   line-height: 1.4;
 }
 .blog-right{
   flex-basis: 32%;
 }
 .blog-right h3{
   background: #a4040c;
   color: #fff;
   padding: 7px 0;
   font-size: 16px;
   margin-bottom: 20px;
 }
 .blog-right div{
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: #555;
   padding: 8px;
   box-sizing: border-box;
 }
 .comment-box{
   border:1px solid #ccc;
   margin:50px 0;
   padding: 10px 20px;
 }
 .comment-box h3{
   text-align: left;
}
.comment-form input, .comment-form textarea{
   width: 100%;
   padding: 10px;
   margin: 15px 0;
   box-sizing: border-box;
   border: none;
   outline: none;
   background: #f0f0f0;
}
.comment-form button{
   margin: 10px 0;
}
/*@media(max-width:700px){
   .sub-header h1{
      font-size: 25%;
   }
}*/
/*-------------moje-------------*/
.naglowek{
   font-size: 62px;
   font-family: 'Lobster', sans-serif;
}
.slider-section {
   width: 40%;
   margin: auto;
}

.slider-container {
   position: relative;
   border: 8px solid #fff; /* Grubość i kolor obramowania */
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Cień dla efektu 3D */
   overflow: hidden; /* Ukrycie zawartości za pomocą obramowania */
}

.slider {
   width: 100%;
}

.slider img {
   width: 100%;
   height: auto;
}
/*quiz*/
#quiz-container {
   max-width: 600px;
   margin: 20px auto;
   background-color: #f8f8f8;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 h2 {
   color: #333;
   text-align: center;
 }
 
 form {
   text-align: left;
 }
 
 label {
   display: block;
   margin-bottom: 10px;
   font-weight: bold;
 }
 
 input[type="text"],
 input[type="number"],
 select {
   width: 100%;
   padding: 10px;
   margin-bottom: 15px;
   box-sizing: border-box;
   border: 1px solid #ccc;
   border-radius: 5px;
 }
 
 button {
   background-color: #a4040c;
   color: #fff;
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }
 
 button:hover {
   background-color: #850208;
 }
 
 #result {
   margin-top: 20px;
   font-weight: bold;
   text-align: center;
 }
 
 /* Optional: Add styling for correct and incorrect answers */
 .correct-answer {
   color: #27ae60;
 }
 
 .incorrect-answer {
   color: #e74c3c;
 }
/*meow*/
.video {
   margin: 20px;
}

/* Styl dla kontenera z teledyskami */
.videos {
   display: flex;
   justify-content: center;
}

/* Styl dla kontenera teledysków */
.video-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr); /* Uaktualnione na 4 kolumny */
   gap: 20px;
}

/* Styl dla osadzonych teledysków */
iframe {
   
   height: 315px; /* Dostosuj wysokość do potrzeb */
   border: none;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.audio-list audio {
   width: 550px;
   margin: 10px;
}
/* Styl dla sekcji audio */


/* Styl dla kontenera audio */
.audio {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

/* Styl dla kolumny z informacjami o utworze */
.about-col {
   width: 300px;
   margin: 15px;
   padding: 15px;
   border: 1px solid #ccc;
   border-radius: 8px;
   background-color: #f9f9f9;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styl dla przycisku do sprawdzania teledysku */
.hero-btn {
   display: inline-block;
   padding: 10px 20px;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
   text-decoration: none;
   color: #fff;
   background-color: #a4040c;
   border-radius: 5px;
   transition: background-color 0.3s ease;
}

/* Styl dla przycisku po najechaniu myszą */
.hero-btn:hover {
   background-color: #850208;
}

/* Styl dla kontrolek audio */
audio {
   width: 100%;
   margin-top: 10px;
}

/* Styl dla listy audio */
.audio-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
#currentDateTime {
   color: #aaa3a3;
   font-size: 14px;
   font-weight: 300;
   line-height: 22 px;
   padding: 10px;
}
/*canvas*/
#lanaCanvas {
   margin: auto; /* Automatyczne centrowanie */
   display: block; /* Ustawienie na blok, aby dostosować marginesy automatyczne */
}
/*responsywnosc*/
@media (max-width:700px){
    .text-box h1{
        font-size:20px;
    }
}

